body {
  background-color: #fcfcfc;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

a {
  color: #eb552d;
}

a:hover {
  color: #36599D;
  text-decoration: none;
}

.text-muted:hover {
  color: #36599D;
}

div.back-to-top {
  text-align: center;
  padding-bottom: 1.5em;
}

#home {
  background: url(img/freadom.png)no-repeat center center;
  position: relative;
  width: 100%;
  background-size: cover;
  text-align: center;
}

h1.banner {
  font-family: georgia;
  color: #174E87;
  display: inline-block;
  font-size: 3em;
}

a.banner {
  text-decoration: none;
  color: white;
}

a.read-more-button:hover {
  text-decoration: none;
}

span.quote {
  display: inline-block;
  font-style: italic;
  font-size: 0.95em;
}

span.page {
  display: inline-block;
  font-size: 0.95em;
  font-weight: 500;
}

p.page {
  text-align: right;
}

blockquote {
  background-color: #fcf5f0;
  padding: 1em;
}

button.read-more {
  background-color: #fcfcfc;
  border-radius: 2px;
  font-weight: 500;
  font-size: 0.9em;
}

button.read-more:hover {
  text-decoration: none;
}
